div {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0px;
    width: 100%;
}
table {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    margin-top: 20px;
    border-collapse: collapse;
    font-size: 16px;
    border: 1px solid grey;
}
th {
    width: 70px;
    background-color: #eeeeee;
    padding: 10px; 
    border: 1px solid gray;
}
td {
    text-align: center;
    padding: 5px 7px;
    border: 1px solid gray;
}
td:first-child {
    background-color: #f5f5f5;
    font-weight: bold;
}
td:hover {
    background-color: #eeeeee;
}